@page "/login"
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

       
<div class="row p-5 mt-2" style="background-color: #00203FFF; color: #ADEFD1FF; border-radius: 16px 16px">
    <h1>@ViewData["Title"]</h1>
    <form id="account" method="post">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.UserName">Username:</label>
            <input asp-for="Input.UserName" class="form-control" />
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password">Password:</label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div class="form-group d-flex justify-content-around">
            <button style="background-color:#ADEFD1FF; color: #00203FFF;" type="submit" class="btn btn-primary w-100 mt-2 mb-2">Login</button>
        </div>
        <div class="form-group d-flex justify-content-around">
            <a href="/" style="background-color:#ADEFD1FF; color: #00203FFF;" class="btn btn-primary w-100 mt-2 mb-2">Cancel</a>
        </div>
    </form>
    <div class="d-grid gap-2 col-12 mx-auto">
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div class="d-flex justify-content-center">
                    <p>
                        The external authentication services are not available.
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button style="background-color:#ADEFD1FF;color: #00203FFF;" type="submit" class="btn btn-primary mt-3 w-100" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">Login via @provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </div>

    <div class="form-group d-flex justify-content-center align-items-center flex-column">
        <p>
            <a id="forgot-password" class="text-center" asp-page="./ForgotPassword">Forgot your password?</a>
        </p>
        <p>
            <a asp-page="./Register" class="text-center" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
        </p>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
