@page "/"
@inject IHttpClientFactory HttpClientFactory

<MudText Typo="Typo.h1" Align="Align.Center">Eagency</MudText>

<MudText Typo="Typo.h5" Align="Align.Justify" Style="margin-top:30px; margin-bottom:30px">
    Our staff has 5 to 10 years real estate experience with a lot of successful deals in the past few years. Our legal consultants assist the negotiation process and the preparation of the lease agreements as well. Colleagues at Prime Estate Real Estate Agency fluently speak English and German, and we are ready to provide interpreters as per request to ensure smooth communication between Parties. Prime Estate makes the clients’ situation as easy as possible and provides a full quality service not only by showing the selected rental homes but also by suggesting new options, alternatives to find a house for rent, a new HOME where expats will really enjoy their stay in Hungary!
</MudText>

<MudText Typo="Typo.h5" Align="Align.Justify" Style="margin-top:30px; margin-bottom:30px">
    There are several thousand properties for rent in Prime Estate’s database from normal sized real estates to high-end luxury apartments and also villas and luxury rentals that fulfil all special, absolutely unique requirements.
</MudText>

<MudText Typo="Typo.h5" Align="Align.Justify" Style="margin-top:30px; margin-bottom:30px">
    We maintain a fair, direct and very friendly contact with landlords for many years; as a result of that owners are more likely to be flexible during negotiations and they are very supportive regarding the clients’ wishes and requests.
</MudText>

@if (Properties != null && Properties.Results != null && Properties.Results.Count() != 0)
{
<div class="row">

    @foreach (var property in Properties.Results)
    {
        <div class="col-md-3">
            <MudCard>
                
                <MudCardMedia Image="@(property.ImageName)" Height="200" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">@property.City, @property.Country</MudText>
                    <MudText Typo="Typo.body2">@property.Area km<sup>2</sup></MudText>
                    <MudText Typo="Typo.body2">@property.HouseType.GetDisplayName()</MudText>
                </MudCardContent>
            </MudCard>
        </div>
    }


</div>

}

@code{

    PagedResult<PropertyDto> Properties { get; set; } = new PagedResult<PropertyDto>();

    public string ImageURL = @"https://festivall.blob.core.windows.net/eagency-images/";

    protected override async Task OnInitializedAsync()
    {
        var http = HttpClientFactory.CreateClient("Eagency.PublicServerAPI");
        Properties = await http.GetFromJsonAsync<PagedResult<PropertyDto>>("api/Property/page?pagesize=4&pagenumber=1");
        foreach(var prop in Properties.Results)
        {
            prop.ImageName = ImageURL + prop.ImageName;
        }
    }
}